.group{
          display: flex;
          margin-top: 20px;
          align-items: center;
          padding: 10px 3px;
          border-radius: 10px;
          cursor: pointer;
}

.group p{
          margin-left: 20px;
}

.group:hover{
          background: gainsboro;
}

.group__icon{
          color: rgba(128, 128, 128, 0.639);
}