.sidebarRow {
  display: flex;
  align-items: center;
  padding: 10px 50px;
  cursor: pointer;
  flex: 1;
  border-radius: 10px;
}

.sidebarRow p {
  margin-left: 20px;
}

.sidebarRow:hover {
  background: gainsboro;
}

.sidebarRow__icon {
  color: #2e81f4;
}
